/* GENERAL */

.element1{
    background-color: aqua;
    height: 25px;
}

.element2{
    background-color: pink;
    height: 25px;
}

.element3{
    background-color: rgb(34, 207, 34);
    height: 25px;
}

.element4{
    background-color: grey;
    height: 25px;
}

/* SECTION */
#wrapper{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
}

